<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2eehttp://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    
    <servlet>
        <servlet-name>Browse Servlet</servlet-name>
        <servlet-class>ua.nure.kh.anton_sushko.usermanagement.web.BrowseServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Browse Servlet</servlet-name>
        <url-pattern>/browse</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Edit Servlet</servlet-name>
        <servlet-class>ua.nure.kh.anton_sushko.usermanagement.web.EditServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Edit Servlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Add Servlet</servlet-name>
        <servlet-class>ua.nure.kh.anton_sushko.usermanagement.web.AddServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Add Servlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Details Servlet</servlet-name>
        <servlet-class>ua.nure.kh.anton_sushko.usermanagement.web.DetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Details Servlet</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    
</web-app>